@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
:root {
  --font-family-body: "Roboto", sans-serif;
  --font-size-cta: 10px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 25px;
  --font-size-xxl: 3.625rem;
  --font-size-xs: 12px;
  --spacer-xs: 4px;
  --spacer-sm: 8px;
  --spacer-md: 16px;
  --spacer-lg: 24px;
  --spacer-xl: 32px;
  --spacer-xxl: 40px;
  --spacer-huge: 60px;
  --cta-width: calc(40px + (48 - 40) * ((100vw - 320px) / (1920 - 320)));
  --hot-point-width: calc(32px + (40 - 32) * ((100vw - 320px) / (1920 - 320)));
  --graph-width: calc(240px + (550 - 240) * ((100vw - 320px) / (1920 - 320)));
  --cta-distance: calc(4px + (16 - 4) * ((100vw - 320px) / (1920 - 320)));
  --radar-gutter: 5.208vw;
}

@media (min-width: 991.98px) {
  :root {
    --font-size-lg: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: var(--font-family-body);
  font-size: 14px;
  font-size: var(--font-size-md);
  line-height: 1.6;
  background: #000;
}

#root {
  color: #fff;
  position: relative;
  width: 100vw;
  height: calc(1vh * 100);
  height: calc(var(--vhpx, 1vh) * 100);
  touch-action: none
}

#root img {
    max-width: 100%;
    height: auto;
  }

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  color: currentColor;
  text-transform: inherit;
  letter-spacing: inherit;
  font: inherit;
}

[disabled] {
  pointer-events: none;
}

.dialog-off-canvas-main-canvas {
  height: 100%;
  overflow: hidden;
}

:root {
  --input-color-idle: #fff;
  --input-color-error: red;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-text-fill-color: var(--input-color-idle);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  border: none;
  background: none;
  color: inherit;
  font-size: 16px; /* safari hack to prevent zoom */
}

input:focus {
  outline: none;
}

.Form__control,
.Form__field {
  position: relative;
}

:not(.Form__typeToggle) > .Form__label {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateY(0);
  transition: transform 0.1s ease-out;
  transform-origin: left top;
  height: 50px;
  will-change: transform;
  opacity: 1;
}

.Form__input {
  height: 50px;
  width: 100%;
}

.Form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  background: var(--input-color-idle);
}

.Form__line:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
  transform-origin: 0 0;
}

.Form__line:after {
  background: red;
  background: var(--input-color-error);
}

:not(.Form__typeToggle) .Form__input:focus ~ label,
:not(.Form__typeToggle) .Form__input:not([data-value=""]) ~ label {
  transform: translateY(-1.4em) scale(0.75);
}

.Form__typeCheckbox,
.Form__typeRadio {
  display: flex;
}

.Form__typeCheckbox input,
.Form__typeRadio input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.Form__checkboxStyle {
  position: relative;
  min-width: 1em;
  height: 1em;
  margin-right: 10px;
  border: 1px solid #fff;
  border: 1px solid var(--input-color-idle);
  border-radius: 50%;
}

.Form__checkboxStyle::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: 1em;
  height: 1em;
  background: #fff;
  background: var(--input-color-idle);
  border-radius: 50%;
  transform: scale(0);
}

input:checked + .Form__checkboxStyle:after {
  transform: scale(0.4);
}

.Form__label {
  display: flex;
  align-items: center;
}

.Form__controlError .Form__line:after {
  transform: scaleX(1);
}

.Form__helper {
  position: absolute;
  top: calc(100% + 0.5em);
}
.Form__helper,
.Form__controlError .Form__label {
  color: red;
  color: var(--input-color-error);
}
.View__wrapper {
  --fixed-height: calc(42px + (48 - 42) * ((100vw - 320px) / (1920 - 320)));
  position: relative;
  display: flex;
  width: inherit;
  flex-direction: column;
  overflow: hidden;
}

.View__wrapper:not(.View__wrapper-full-height) .View__content {
  flex-basis: auto;
}

.View__wrapper-full-height {
  height: 100%;
}

.View__content {
  flex: 1 0 0;
}

.View__content-scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.View__wrapper-with-gradient-full {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.99) 100%
  );
}

.View__wrapper-with-gradient-top-right {
  background: radial-gradient(
    circle at top right,
    rgba(0, 0, 0, 0.99) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.View__wrapper-with-gradient-bottom-right,
.View__wrapper-with-gradient-bottom-left {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.99) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.View__fixed {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: var(--fixed-height);
  text-align: center;
  pointer-events: none;
}

.View__fixed-top {
  top: var(--spacer-md);
}

.View__fixed-bottom {
  bottom: var(--spacer-md);
}

.View__fixed-left,
.View__fixed-right {
  position: absolute;
  pointer-events: auto;
}

.View__fixed-left {
  left: var(--spacer-md);
}

.View__fixed-right {
  right: var(--spacer-md);
}

.View__content-h-spaced {
  padding-left: var(--spacer-lg);
  padding-right: var(--spacer-lg);
}

.View__content-t-spaced {
  padding-top: calc(var(--spacer-md) * 2 + var(--fixed-height));
}

@media (min-width: 991.98px) {
  .View__fixed-left {
    left: var(--spacer-xl);
  }

  .View__fixed-right {
    right: var(--spacer-xl);
  }

  .View__fixed-top {
    top: var(--spacer-lg);
  }

  .View__fixed-bottom {
    bottom: var(--spacer-huge);
  }

  .View__wrapper-with-gradient-top-right {
    background: radial-gradient(
      circle at top right,
      rgba(0, 0, 0, 0.99) 0%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }

  .View__wrapper-with-gradient-bottom-right {
    background: radial-gradient(
      circle at bottom right,
      rgba(0, 0, 0, 0.99) 0%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }

  .View__wrapper-with-gradient-bottom-left {
    background: radial-gradient(
      circle at bottom left,
      rgba(0, 0, 0, 0.99) 0%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }
}

/* fonts */
.styles__font-size-cta {
  font-weight: 700;
  font-size: var(--font-size-cta);
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.styles__font-size-loader {
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.styles__font-size-xs {
  font-size: var(--font-size-xs);
  line-height: 1.6;
}

.styles__font-size-sm {
  font-size: var(--font-size-sm);
  line-height: 1.6;
}

.styles__font-size-md {
  font-size: var(--font-size-md);
  line-height: 1.5;
}

.styles__font-size-lg {
  font-size: var(--font-size-lg);
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.styles__font-size-xl {
  font-size: var(--font-size-xl);
}

.styles__font-size-xxl {
  font-size: var(--font-size-xxl);
  line-height: 1;
}

.styles__font-size-xxxl {
  font-size: var(--font-size-xxxl);
  line-height: 1;
}

/* align */
.styles__text-align-center {
  text-align: center;
}
.styles__text-align-right {
  text-align: right;
}

/* flex */
.styles__justify-center {
  display: flex;
  justify-content: center;
}

.styles__justify-end {
  display: flex;
  justify-content: flex-end;
}

.styles__justify-between {
  display: flex;
  justify-content: space-between;
}

.styles__justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

.styles__align-center {
  display: flex;
  align-items: center;
}

.styles__align-end {
  display: flex;
  align-items: flex-end;
}

.styles__column {
  display: flex;
  flex-direction: column;
}

.Cta__wrapper {
  position: relative
}

.Cta__wrapper.Cta__isIn .Cta__hexagonHaloWrapper {
      opacity: 1;
    }

.Cta__wrapper.Cta__isOut .Cta__hexagonHaloWrapper {
      opacity: 0;
      transition: opacity 0.25s;
    }

.Cta__wrapper svg [data-name="mask"] {
    transform: scale(1, 0);
    transform-origin: 0 17px;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

.Cta__wrapper .Cta__line {
    transform: translateY(0%);
  }

@media (hover: hover) {
      .Cta__wrapper:hover .Cta__line {
        transform: translateY(-100%);
      }

      .Cta__wrapper:hover svg [data-name="mask"] {
        transform: scale(1, 1);
      }
  }

.Cta__wrapper.Cta__hovered .Cta__line {
      transform: translateY(-100%);
    }

.Cta__wrapper.Cta__hovered svg [data-name="mask"] {
      transform: scale(1, 1);
    }

.Cta__wrapper.Cta__toggle .Cta__line {
      transform: translateY(100%);
    }

@media (hover: hover) {
        .Cta__wrapper.Cta__toggle:hover .Cta__line {
          transform: translateY(0%);
        }
    }

.Cta__wrapper.Cta__toggle.Cta__isActive .Cta__line {
    transform: translateY(-100%);
  }

.Cta__wrapper.Cta__isHotPoint {
    pointer-events: auto
  }

.Cta__wrapper.Cta__isHotPoint .Cta__outline [data-name="inner"] {
      fill: #fff;
      transform: scale(0.5);
      transform-origin: center;
    }

.Cta__wrapper.Cta__isHotPoint .Cta__outline [data-name="border"] {
      fill: rgba(255,255,255,0.50196);
    }

.Cta__wrapper.Cta__isHotPoint .Cta__icon [data-name="plus"] {
      transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      transform-origin: 50% 50%;
      will-change: transform;
      transform: rotate(0);
    }

.Cta__wrapper.Cta__isHotPoint .Cta__hexagon-wrapper {
      width: var(--hot-point-width);
    }

.Cta__wrapper.Cta__isHotPoint .Cta__line {
      transform: translateY(100%);
    }

@media (hover: hover) {
        .Cta__wrapper.Cta__isHotPoint:hover .Cta__icon [data-name="plus"] {
          transform: rotate(180deg);
        }

        .Cta__wrapper.Cta__isHotPoint:hover .Cta__line {
          transform: translateY(0%);
        }

        .Cta__wrapper.Cta__isHotPoint:hover .Cta__hexagonHalo {
          -webkit-animation: Cta__halo 2s cubic-bezier(0.22, 1, 0.36, 1) var(--scale-delay)
            infinite;
                  animation: Cta__halo 2s cubic-bezier(0.22, 1, 0.36, 1) var(--scale-delay)
            infinite;
        }
    }

.Cta__wrapper.Cta__isBlink .Cta__hexagonHalo {
      -webkit-animation: Cta__halo 2s cubic-bezier(0.22, 1, 0.36, 1) var(--scale-delay)
        3;
              animation: Cta__halo 2s cubic-bezier(0.22, 1, 0.36, 1) var(--scale-delay)
        3;
    }

.Cta__hexagon-wrapper {
  position: relative;
  font-size: 0;
  width: var(--cta-width);
  height: auto
}

.Cta__hexagon-wrapper .Cta__outline {
    width: 100%;
    height: auto;
  }

.Cta__hexagonHaloWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.Cta__hexagonHalo {
  --scale-target: 1.4;
  --scale-delay: 0.4s;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(1);
  z-index: -1;
  width: 100%;
  height: auto
}

.Cta__hexagonHalo.Cta__animation {
    -webkit-animation: Cta__halo 2s cubic-bezier(0.22, 1, 0.36, 1) var(--scale-delay) 1;
            animation: Cta__halo 2s cubic-bezier(0.22, 1, 0.36, 1) var(--scale-delay) 1;
  }

.Cta__hexagonHalo:nth-of-type(2) {
  --scale-target: 1.6;
  --scale-delay: 0.2s;
}

.Cta__hexagonHalo:nth-of-type(3) {
  --scale-target: 1.8;
  --scale-delay: 0s;
}

.Cta__line {
  position: relative;
  display: inline-block;
  will-change: transform;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateY(0%);
  height: 1.4em
}

.Cta__line:after {
    content: attr(data-text);
    position: relative;
    display: block;
    left: 0;
  }

.Cta__icon,
.Cta__label {
  position: absolute;
  pointer-events: none;
}

.Cta__icon {
  width: 100%;
  height: 100%;
}

.Cta__label {
  height: 1.4em;
  white-space: nowrap;
  overflow: hidden;
}

.Cta__label-left {
  right: calc(var(--cta-distance) + 100%);
}

.Cta__label-right {
  left: calc(var(--cta-distance) + 100%);
}

.Cta__label-bottom {
  top: calc(var(--cta-distance) + 100%);
}

.Cta__label-top {
  bottom: calc(var(--cta-distance) + 100%);
}

@-webkit-keyframes Cta__halo {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    transform: scale(var(--scale-target));
  }
}

@keyframes Cta__halo {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    transform: scale(var(--scale-target));
  }
}

.Countdown__wrapper {
  display: flex;
  align-items: flex-start;
}

.Countdown__cell {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Countdown__number {
  font-size: 16vw;
  line-height: 1;
  font-weight: 300;
}

.Countdown__label {
  opacity: 0.5;
}

@media (min-width: 991.98px) {
  .Countdown__number {
    font-size: 12.5vw;
  }
}

.Video__wrapper {
  position: relative;
  height: 100%;
  pointer-events: none;
}

.Video__audioWrapper .meride-video-container {
  visibility: hidden !important;
}

.Video__ccWrapper {
  bottom: calc(var(--spacer-huge) + 10px + var(--fixed-height));
  --fixed-height: 50px;
}

.Video__cc {
  max-width: calc(100% - var(--spacer-lg) * 2);
  text-shadow: 1px 1px 2px #4c4c4c;
}

@media (min-width: 991.98px) {
  .Video__cc {
    max-width: 50%;
  }
}

.meride-video-container button > * {
    vertical-align: middle;
  }

.meride-video-container video {
    -o-object-fit: cover;
       object-fit: cover;
  }

.meride-video-container [style*="background-image"] {
    background-size: cover !important;
  }

.meride-video-container .loadingSpinner {
    background: #fff;
  }

.meride-video-container .boxcenterBtn {
    visibility: hidden;
  }

.meride-video-container .otherComponents {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

.meride-video-container .controlBarContainer {
    background-color: transparent;
    right: 0;
    height: 55px;
    width: 80%;
    margin: 0 auto;
  }

.meride-video-container .controlBarCenter.controlBarCenter {
    padding: 0 1em;
  }

.meride-video-container .md-progressBar.md-progressBar {
    height: 2px;
    background-color: rgba(255,255,255,0.2)
  }

.meride-video-container .md-progressBar.md-progressBar .md-bufferContainer.md-bufferContainer {
      background-color: rgba(255,255,255,0.50196);
      height: 100%;
    }

.meride-video-container .md-progressBar.md-progressBar .md-spinner.md-spinner {
      background-color: #fff;
      height: 100%;
    }

.meride-video-container .md-progressBar.md-progressBar .md-seekBtn.md-seekBtn {
      display: none !important;
    }

.meride-video-container .timeUpdate.timeUpdate,
  .meride-video-container .duration.duration {
    font-size: 12px;
    line-height: 1;
  }

.Logo__logo {
  width: calc(42px + (60 - 42) * ((100vw - 320px) / (1920 - 320)));;
}
.Radar__content {
  display: flex;
  flex-direction: column
}

.Radar__content + .Radar__content {
    display: none;
    padding-top: var(--spacer-md);
  }

.Radar__legend {
  display: flex;
  justify-content: center;
}

.Radar__line {
  position: relative
}

.Radar__line b {
    text-transform: uppercase;
  }

.Radar__line.Radar__line-on:after,
  .Radar__line.Radar__line-off:after {
    left: -1.5ch;
    content: "";
    position: absolute;
    bottom: 0;
    width: 3ch;
    height: 2px;
    background: #ffa000;
  }

.Radar__line.Radar__line-off:after {
    background: #00a7ff;
  }

.Radar__switch {
  display: flex;
  justify-content: space-evenly;
}

.Radar__graph {
  width: var(--graph-width);
  height: auto;
  position: relative;
  margin: var(--spacer-xl) auto var(--spacer-sm);
  pointer-events: none
}

.Radar__graph svg {
    width: 100%;
    height: 100%;
    font-size: 0;
    display: block;
  }

.Radar__graph text {
    font-size: 20px;
  }

.Radar__graph .Radar__mode {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

@media (min-width: 991.98px) {
  .Radar__switch {
    display: block;
    padding-left: 10ch;
    max-width: 30ch;
    flex: 1
  }

    .Radar__switch > * + * {
      padding-top: var(--spacer-lg);
      padding-left: 0;
    }

  .Radar__content + .Radar__content {
    display: flex;
  }

  .Radar__legend {
    flex: 1;
    max-width: 30ch;
    display: block;
  }

  .Radar__graph {
    margin: 0 var(--radar-gutter) var(--radar-gutter)
  }
    .Radar__graph text {
      font-size: 14px;
    }
}

.Layer__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Unveil__play {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  )
}
.Unveil__play > button {
    pointer-events: auto;
  }

.hp-visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms ease-out;
}

.hp-hidden {
  transition: opacity 200ms ease-out;
}

.hp-hidden,
.hp-hidden.hp-visible {
  opacity: 0;
  pointer-events: none !important;
}

.scene-transition .hp-visible,
.layer-open .hp-visible,
.orbit-drag .hp-visible {
  opacity: 0;
  pointer-events: none !important;
}

body.webgl-app-started:not(.orbit-drag):not(.layer-open) .hp-visible {
  transition-delay: 400ms;
}

body:not(.webgl-app-started) .hp-visible {
  transition-delay: 1600ms;
}

.Webgl__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  visibility: hidden
}

.Webgl__wrapper canvas {
    position: absolute;
    pointer-events: none;
  }

.Webgl__wrapper.Webgl__visible {
    visibility: visible
  }

.Webgl__wrapper.Webgl__visible canvas {
      pointer-events: auto;
    }

.Webgl__hotPointWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1
}

.Webgl__hotPointWrapper > button {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateZ(0);
    will-change: transform;
  }

.Loader__loadingWrapper {
  --loader-width: calc(260px + (380 - 260) * ((100vw - 320px) / (1920 - 320)));
  position: relative;
  width: var(--loader-width);
  height: auto;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center
}

.Loader__loadingWrapper > svg {
    width: 100%;
    height: auto;
    filter: drop-shadow(rgba(255, 255, 255, 1) 0px 0px 10px);
  }

.Loader__black {
  background: #000000;
}

.Loader__loadingEndContent {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.Loader__disclamer {
  position: absolute;
  bottom: calc(var(--spacer-xl) + 10px);
  display: flex;
  flex-direction: column;
  align-items: center
}

.Loader__disclamer > * + * {
    padding-top: var(--spacer-md);
  }

.Loader__loadingLabel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center
}

.Loader__loadingLabel > * + * {
    padding-top: var(--spacer-md);
  }

.Loader__loadingLabel > span {
    opacity: 0.3;
  }

.Loader__errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}

.Loader__errorWrapper > * + * {
    padding-top: var(--spacer-xl);
  }

.Loader__loadingHalo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.Loader__loadingHalo > svg {
    --scale-target: 1.2;
    --scale-delay: 0.4s;
    position: absolute;
    width: var(--loader-width);
    height: auto;
    -webkit-animation: Loader__halo 2s cubic-bezier(0.22, 1, 0.36, 1) var(--scale-delay)
      infinite;
            animation: Loader__halo 2s cubic-bezier(0.22, 1, 0.36, 1) var(--scale-delay)
      infinite;
  }

.Loader__loadingHalo svg:nth-of-type(2) {
    --scale-target: 1.3;
    --scale-delay: 0.2s;
  }

.Loader__loadingHalo svg:nth-of-type(3) {
    --scale-target: 1.4;
    --scale-delay: 0s;
  }

#root.is-mounted .Loader__progress [data-name="mask"] {
  transition: transform 1s 0s linear;
  transform-origin: 0 40px;
  transform: scale(1, 0);
  transform: scale(1, var(--progress, 0));
}

@media (min-width: 991.98px) {
  .Loader__loadingEndContent {
    width: 280px;
  }
}

@-webkit-keyframes Loader__halo {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    transform: scale(var(--scale-target));
  }
}

@keyframes Loader__halo {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    transform: scale(var(--scale-target));
  }
}

.QR__content {
  padding: var(--spacer-md)
}

.QR__content> * + * {
  padding-top: var(--spacer-xl);
}

.QR__qr {
  width: 150px;
}

.Share__content > * + * {
  padding-top: var(--spacer-huge);
}
.Share__btnGroup {
  display: flex
}
.Share__btnGroup > * + * {
    margin-left: var(--spacer-huge);
  }
.Banner__container {
  padding: 0 80px;
  position: relative;
  top: calc(var(--spacer-huge) + 10px);
}

.Menu__content {
  padding: calc(var(--spacer-md) + var(--fixed-height)) var(--spacer-md)
}
.Menu__content > * {
    margin-top: var(--spacer-md);
  }
.Menu__hack {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media (min-width: 991.98px) {
  .Menu__content {
    padding: calc(var(--spacer-lg) + var(--fixed-height)) var(--spacer-xl);
  }
}
.Languages__content {
  padding: calc(var(--spacer-md) * 2 + var(--fixed-height)) var(--spacer-xl);
}

.Languages__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.Languages__column > div + button,
  .Languages__column > div + a {
    padding-top: var(--spacer-md);
  }

.Languages__column * + * {
    padding-top: var(--spacer-xs);
  }

.Languages__row {
  display: flex
}

.Languages__row > * {
    padding-left: var(--spacer-huge);
  }

.Languages__hoverable {
  position: relative;
  text-align: left;
  opacity: 0.5;
  transition: opacity 0.2s ease-out
}

.Languages__hoverable.Languages__active,
  .Languages__hoverable:hover {
    opacity: 1;
  }

.Languages__hoverable.Languages__active {
    pointer-events: none;
  }

@media (min-width: 991.98px) {
  .Languages__content {
    padding: calc(var(--spacer-lg) * 2 + var(--fixed-height)) var(--spacer-xxl);
  }
}

.Info__content {
  padding: calc(var(--spacer-md) * 2 + var(--fixed-height)) var(--spacer-md)
}

.Info__content > div {
    color: rgba(255, 255, 255, 0.5);
    color: red;
  }

.Info__content b {
    color: white;
  }

@media (min-width: 991.98px) {
  .Info__content {
    padding: calc(var(--spacer-lg) * 2 + var(--fixed-height)) var(--spacer-xl);
  }
}

.Chapters__content {
  padding: calc(var(--spacer-md) + var(--fixed-height)) var(--spacer-md)
}

.Chapters__content > * {
    margin-top: var(--spacer-md);
  }

@media (min-width: 991.98px) {
  .Chapters__content {
    padding: calc(var(--spacer-lg) + var(--fixed-height)) var(--spacer-xl);
  }
}

.ChangeOrientation__wrapper {
  z-index: 10000;
  background: #000
}
.ChangeOrientation__wrapper > * + * {
    padding-top: var(--spacer-md);
  }
.ChangeOrientation__svg {
  width: 60px;
  height: auto;
}

.VideoLayer__wrapper {
  background: #000;
}
.VideoLayer__play {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  )
}
.VideoLayer__play > button {
    pointer-events: auto;
  }

.Spinner__loadingWrapper {
  --loader-width: calc(260px + (380 - 260) * ((100vw - 320px) / (1920 - 320)));
  position: relative;
  width: var(--loader-width);
  height: auto;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Spinner__loadingLabel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Spinner__loadingHalo > svg {
    --scale-target: 1.2;
    --scale-delay: 0.4s;
    width: var(--loader-width);
    height: auto;
    -webkit-animation: Spinner__halo 2s cubic-bezier(0.22, 1, 0.36, 1) var(--scale-delay)
    infinite;
            animation: Spinner__halo 2s cubic-bezier(0.22, 1, 0.36, 1) var(--scale-delay)
    infinite;
  }

.Spinner__loadingHalo svg:nth-of-type(2) {
    position: absolute;
    left: 0;
    top: 0;
    --scale-target: 1.3;
    --scale-delay: 0.2s;
  }

.Spinner__loadingHalo svg:nth-of-type(3) {
    position: absolute;
    left: 0;
    top: 0;
    --scale-target: 1.4;
    --scale-delay: 0s;
  }

@-webkit-keyframes Spinner__halo {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    transform: scale(var(--scale-target));
  }
}

@keyframes Spinner__halo {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    transform: scale(var(--scale-target));
  }
}
.AlertLayer__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: #fff;
  z-index: 9000;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  flex-direction: column;
  flex-grow: 0.6;
}

.AlertLayer__input {
  opacity: 0;
  position: absolute;
  top: -1000px;
}

.AlertLayer__container > * {
  margin: 40px 0px;
}

.AlertLayer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AlertLayer__line {
  width: 80%;
  background-color: #fff;
  height: 1px;
  margin-top: 5px;
}

.AlertLayer__text {
  max-width: 300px;
  text-align: center;
}

